@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
body, html {
  padding: 0 0 5em 0;
  margin: 0;
  color-scheme: dark;
  background: linear-gradient(180deg, #000 0.72%, #210727 64.29%, #300A39 99.63%);
  background-attachment: fixed;
  font-family: "JetBrains Mono", monospace;
  color: #E7C8FF;
}

a {
  color: rgb(147, 70, 248);
}
a:visited {
  color: rgb(123, 45, 226);
}

#name-and-caption-wrapper {
  margin: 2.5em;
}
#name-and-caption-wrapper #title {
  background: linear-gradient(180deg, #CE8FFF 9.2%, #9811ff 57%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5em;
  font-weight: bold;
}
#name-and-caption-wrapper #title span {
  font-size: 0.3em;
  margin-left: -1em;
}
#name-and-caption-wrapper #caption {
  background: linear-gradient(180deg, #CE8FFF 9.2%, #9811ff 57%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8em;
  font-weight: bold;
}
#name-and-caption-wrapper #desc {
  width: 35%;
  font-weight: bold;
  font-size: 1.3em;
  background: whitesmoke;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#name-and-caption-wrapper #desc span {
  background: #9911ff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 5px solid #360D56;
  background: #200726;
}
nav li {
  float: left;
}
nav li:first-child {
  margin-left: 2em;
}
nav li:last-child {
  float: right;
  margin-right: 2em;
}
nav li a {
  text-decoration: none;
  display: block;
  color: whitesmoke;
  color: #7b47ac !important;
  font-size: 1.4em;
  padding: 0.6em 1.3em;
  font-weight: bold;
}
nav li a:hover {
  background: rgba(54, 13, 86, 0.4745098039);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2b1f38;
}

#about {
  position: relative;
}

#techstack-wrapper {
  position: absolute;
  top: 4em;
  right: 2em;
}
#techstack-wrapper img {
  height: 8em;
  margin: 0.2em;
}
#techstack-wrapper div {
  text-align: center;
  color: #764A6C;
  font-style: italic;
  font-weight: 500;
}

@media only screen and (max-width: 1660px) {
  #techstack-wrapper {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  #techstack-wrapper div {
    position: absolute;
    margin-top: 9em;
  }
  #name-and-caption-wrapper #desc {
    width: 100%;
  }
  #end-note {
    transform: translateY(18rem);
  }
}
@media only screen and (max-width: 835px) {
  #techstack-wrapper img {
    height: 6em;
  }
  #techstack-wrapper div {
    margin-top: 7em;
  }
  #name-and-caption-wrapper #title {
    font-size: 4em;
  }
  #name-and-caption-wrapper #desc {
    width: 80%;
  }
}
@media only screen and (max-width: 660px) {
  nav ul li a {
    font-size: 1.2em;
  }
  #end-note {
    transform: translateY(13rem);
  }
  #techstack-wrapper {
    width: 95vw;
  }
  #techstack-wrapper div {
    margin-top: 6em;
  }
  #techstack-wrapper img {
    height: 5em;
  }
  #name-and-caption-wrapper #title {
    font-size: 3em;
  }
  #name-and-caption-wrapper #desc {
    width: 80%;
  }
}
@media only screen and (max-width: 550px) {
  nav ul li a {
    font-size: 1.1em;
    padding: 0.6em 1em;
  }
  #techstack-wrapper {
    margin-top: -5em;
  }
  #techstack-wrapper img {
    height: 4em;
  }
  #techstack-wrapper div {
    margin-top: 5em;
  }
  #name-and-caption-wrapper #title {
    font-size: 2.5em;
  }
  #name-and-caption-wrapper #desc {
    width: 90%;
  }
}
@media only screen and (max-width: 470px) {
  nav ul li:first-child, nav ul li:last-child {
    margin: 0;
  }
  nav ul li a {
    font-size: 1em;
    padding: 0.8em 0.6em;
  }
  #name-and-caption-wrapper {
    margin: 2em;
  }
  #name-and-caption-wrapper #title {
    font-size: 2em;
  }
  #name-and-caption-wrapper #caption {
    font-size: 1.3em;
  }
  #name-and-caption-wrapper #desc {
    font-size: 1.2em;
  }
  #techstack-wrapper img {
    height: 3.3em;
  }
}
.wallpaper-intersection {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #601997;
  z-index: 1;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.4, 0.49, 0.61, 1);
  animation-fill-mode: forwards;
}

@keyframes fade-down {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes fade-up {
  100% {
    height: 100%;
  }
  0% {
    height: 0;
  }
}

/*# sourceMappingURL=style.css.map */
