@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body, html {
    padding: 0;
    margin: 0;
    width: 100%;


    background: #111;
    font-family: "JetBrains Mono", monospace;
}

#player-card {
    background: linear-gradient(to bottom, #061D0F, black);
    padding: 0.4em;

    border: 1px solid #1C3C27;

    color: white;

    width: 15em;
    font-size: 1.2em;

    position: absolute;

    margin: auto;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#input-pq {
    width: calc(77% - 0.2em);
    padding: 0.3em;
   
    margin-top: 0.5em;

    font-family: "JetBrains Mono", monospace;

    background: #1A3D27;
    color: white;

    outline: none;
    border: 1px solid #235A3F;
}

#player-card-btn {
    margin: 0.5em;
    font-size: 1em;

    border: 1px solid #235A3F;
    background: #1A3D27;
    color: white;

    font-family: "JetBrains Mono", monospace;
    opacity: 0.7;
    width: 80%;
}

#player-card-btn:hover {
    opacity: 1;
}

#impostor-text {
    color: #EB4325;
    font-weight: bold;
}
